body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(220, 233, 227);
    font-family: serif;
    font-size: 16px;
}

.headerstart{
    height: 130px;
    width: 100%;
    background-color:rgb(220, 233, 227);
    
    
}
.headerstart img{
    position: absolute;
    top: -25px;
    left: 46%;
    width: 150px;
    height: 200px;
}
.navbarcontainer{
    top:0px;
    left: 0px;
    position: sticky;
    margin:0px;
    padding:0px;
    width: 100%;
    background: #000;
    z-index: 5;
    box-shadow: 0 4px 8px  rgba(8, 0, 0, 0.678), 0 6px 20px  rgba(37, 10, 10, 0.644);
    
}
.cart {
    width: 5%;
    height: 100%;
    position: absolute;
    right: 30px;
    margin: 18px;
    padding: 0;
    top: 0;
}
.cart a:hover{
    transition: ease 0.2s;
    color: rgb(155, 179, 179);
}
.cart a{
    color: rgb(220, 233, 227);
}

.cart .number{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(87, 156, 145);
    position: absolute;
    top: -10px;
    left:20px;
    color: black;
    text-align: center;
}
.navbarcontainer ul {
    list-style-type: none;
    background-color: #282e34;
    margin: 0;
    padding: 0;
    top:50px;
    width: 100%;
    height: 60px;
    overflow: hidden;
    z-index: 5;
    font-size: 18px;
    letter-spacing: 1px;
}
  
.navbarcontainer ul li {
    float: left;
}
  
.navbarcontainer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
  
.navbarcontainer ul  li a:hover {
    background-color: #111;
}
.checkout{
    position: relative;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10%;
    background-color:  rgb(207, 223, 216);
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px  rgba(8, 0, 0, 0.678);
}
.products{
    width: 200px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 20px;
    
    
}
.column{
    width: 20px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 65px;
    z-index: 1;
    
}
.products img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 45px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px  rgba(8, 0, 0, 0.678);
}

.uncheck{
    width: 20px;
    height: 20px;
    position: relative;
    left: 0px;
    top: 0;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 114px;
    opacity: 0.7;
    cursor: pointer;
    
}
.uncheck a{
    text-decoration: none;
    color: white;
    
}
.uncheck p{
    left: 120px;
    position: relative;
    font-size: 18px;
    color: black;
    top: 0px;
    width: 200px;
    cursor:initial;
    
}
input[type="checkbox"]{
    display:none;
    margin-bottom:200px;
}

.box{
    position: relative;
    top: 0vh;
    left: 50%;
    width: 430px;
    height: 600px;
    background:rgb(207, 223, 216);
    padding: 40px;
    font-family: sans-serif;
}
.box h2{
    margin: 0 0 40px;
    padding: 0;
    color :#282e34bb;
    
}
.box input{
    padding:15px 0;
    margin-bottom: 30px;
    background:rgb(207, 223, 216);
}

.box input{
    width:100%;
    box-sizing: border-box;
    box-shadow: none;
    border:none;
    outline: none;
    border-bottom: 2px solid #282e3475;
}
.box form div{
    position: relative;
}
.box form div label {
    position:absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: #282e34ad;
    transition: .5s;
}
.box input:focus ~ label,
.box input:valid ~ label {
    top: -12px;
    left: 0;
    color:#282e34bb;
    font-size: 12px;
    font-weight: bold;
    
}
.box input:focus,
.box input:valid  {
    border-bottom:2px solid  #282e34;
    background:rgb(207, 223, 216);
}
.box input[type="submit"]{
    border-bottom:none;
    cursor:pointer;
    background-color:#282e34e8;
    color:white;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 2px solid #282e3475;
    box-shadow: 0 5px 10px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.2);
    font-size: 16px;
}
.box input[type="submit"]:hover{
    background-color:rgba(166, 177, 180, 0.589);
    color: black;
    border-bottom: 2px solid rgba(166, 177, 180, 0.589);
    transition: ease 0.2s;
    
}
@media only screen and (max-width: 1350px){
    .box{
        position: relative;
        top: 150vh;
        left: 15%;
    }
    .checkout{
        height: 300vh;
    }
}
@media only screen and (max-height: 900px){
    .box{
        position: relative;
        top: 150vh;
        left: 15%;
    }
    .checkout{
        height: 300vh;
    }
}



.contact{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #282e34;
    font-family:Arial, Helvetica, sans-serif;
    top:200px;
    color:rgb(220, 233, 227);
}
.copyright{
    top:90%;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #07090a;
}
.copyright p{
    color: white;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0 0 0;
}
.contact .logoend{
    width: 150px;
    height: 200px;
    position: absolute;
    left: 30%;
    top: 15%;
}
.contact .logoend img{
    padding:0;
    width: 100%;
    height: 100%;
}
.contact .contactinfo{
    position:absolute;
    top:10%;
    left:45%;
    width: 300px;
    height: 300px;
    /*background: teal;*/
}
.tricky{
    position: relative;
    width: 280px;
    height: 40px;
    /*background: tomato;*/
}
.tricky p{
    width: 200px;
    height:20px;
    display:block;
    position: absolute;
    left:30px;
    top: -13px;
    /*background: yellow;*/
}
.contact .findus{
    position:absolute;
    top:10%;
    left:60%;
    width: 300px;
    height: 300px;
    /*background: teal;*/
}
.contact .findus a{
    text-decoration: none;
    color: inherit;
}
.tricky1{
    position: relative;
    width: 280px;
    height: 40px;
    /*background: tomato;*/
}
.tricky1 p{
    width: 200px;
    height:20px;
    display:block;
    position: absolute;
    left:45px;
    top: -8px;
    font-size: 16px;
    /*background: yellow;*/
}
.findus a:hover{
    color:rgb(155, 179, 179);
    transition: ease 0.2s;
}
@media only screen and (max-width: 1350px){
    .contact{
        height:1400px;
        position: relative;
    }
    .contact .contactinfo{
        position:relative;
        top:50px;
        left:10%;
        width: 300px;
        height: 300px;
    }
    .contact .findus{
        position:relative;
        top:20px;
        left:10%;
        width: 300px;
        height: 300px;
    }
    .contact .logoend{
        position: relative;
        left:10%;
        top:20px;
    }
    
}